.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.gold
{
  background-color: #f99e1a;
}

.grey
{
  background-color: #43484c;
}

.darkblue
{
  background-color: #405275;
}

.lightblue
{
  background-color: #218ffe;
}

.black
{
  background-color: black;
}

.home-card {
  opacity: 0.9;
}

.viewpost-card {
  opacity: 0.9;
}

#navHead
{
  
  
}

/* just yeet the bastard to the bottom */
.row.match-my-cols 
{
  overflow: hidden; 
}
.row.match-my-cols [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
